.dl-pagination {
  margin-inline: auto;
  display: flex;
  width: 100%;
  justify-content: center;
}

.dl-pagination-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dl-pagination-item {
  display: inline-flex;
}

.dl-pagination-prev {
  gap: 0.25rem;
  padding-inline-start: 0.625rem;
}

.dl-pagination-next {
  gap: 0.25rem;
  padding-inline-end: 0.625rem;
}

.dl-pagination-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
}

.dl-pagination-ellipsis svg {
  width: 1rem;
  height: 1rem;
}
