.dl-scroll-area {
  position: relative;
  overflow: hidden;
}
.dl-scroll-area__viewport {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.dl-scroll-area__bar {
  display: flex;
  touch-action: none;
  user-select: none;
  transition: background-color 0.2s ease;
  padding: 1px;
}
.dl-scroll-area__bar[data-orientation="vertical"] {
  height: 100%;
  width: 0.625rem;
  border-left: 1px solid transparent;
}
.dl-scroll-area__bar[data-orientation="horizontal"] {
  height: 0.625rem;
  flex-direction: column;
  border-top: 1px solid transparent;
}
.dl-scroll-area__thumb {
  position: relative;
  flex: 1;
  border-radius: 9999px;
  background-color: var(--border);
}
